@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto'- sans-serif;
}


html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #1f1e1f;
}


/* Menu */


.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1e1f;
    position: fixed;
    padding-left: 30rem;
}


.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.logo h3 {
    color: white;
    font-size: 1.6rem;


}


.logo img {
    width: 100%;
    height: 100%;
}


.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content .list-menu li a {
    padding: 3rem 1rem 2rem 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;


}
.content .list-menu li a:hover {
    background-color: #333;
    border-bottom: 4px solid #ff9b06;
    color: #ff9b06;
}




/* First Section  */


.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29 , 29,0.8 ), rgba(29, 29 , 29,0.8)),url(./Gemini_Generated_Image_clcw4gclcw4gclcw.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}


.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.first-section h1 {
    color: #ff9b06;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.first-section h2 {
    color: rgb(177, 177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}


.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ff9b06;
    border-radius: 10px;
    color:black;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}


.btn button:hover {
    border: 1px solid #ff9b06;
    background-color: transparent;
    color: #ff9b06;
}


.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
}


/* Sobre Nós */


.sobre-nos {
    background-color: #1f1e1f;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sobre-nos img {
    width: 350px;
    height: 350px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}


.main {
    display: flex;
    justify-content: space-between;
}


.contentsobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contentsobre h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
}


.contentsobre p {
    text-align: center;
    font-size: 1.8rem;
    width: 600px;
}


/* Cardápio */


.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(53, 53, 53, 0.9);
}


.cardapio h2{
    font-size: 5rem;
    color: #e6e6e6;
    text-transform: uppercase;
}


.itens-cardapio {
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.itens-cardapio .info {
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}


.itens-cardapio h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}


.itens-cardapio h4 span {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 6rem;
}


.itens-cardapio div{
    background-color: #212848;
    box-shadow: 0px 0px 4px 1px
}




.itens-cardapio img {
     width: 100%;
     height: 200px;
}


.itens-cardapio .info .pedir {
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #ff9b06;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
    transition: all 200ms ease-in;
}


.itens-cardapio .info .pedir:hover{
    background-color: #212848;
    color: #e6e6e6;
}


/* Contatos */


.contatos {
    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #e6e6e6;
    padding-bottom: 4rem;
}


.contatos h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}


.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}


.contatos-secao i{
    margin-right: 1rem;
}


.contatos-secao div{
    cursor: pointer;
    transition: all 200ms ease-in;
}


.contatos-secao div:hover{
    color: #212848;
}


 footer{
    height: 25px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (max-width: 1200px) {
  .main {
    display: block;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: 0;
  }

  .sobre-nos img {
    width: 600px;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
  }

  .content .list-menu {
    display: none;
  }

  .one,
  .two,
  .three {
    width: 80%;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    transition-duration: 0.5s;
  }

  .menu-toggle {
    width: 30px;
    height: 30px;
  }

  .content.on {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 29, 29, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content.on .logo {
    display: none;
  }

  .content.on .menu-toggle {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .content.on .list-menu {
    display: block;
  }

  .content.on .list-menu li {
    display: flex;
    justify-content: center;
  }

  .content.on .list-menu li a {
    font-size: 2rem;
  }

  .itens-cardapio {
    grid-template-columns: repeat(2, minmax(50px, 350px));
  }

  .itens-cardapio .info h4 {
    margin-left: 12rem;
  }
}
    